body{ 
    background-color: rgb(185 255 232);
}
h1{
    margin: 1rem auto;
    width: 15rem;
    text-align: center;
}
table#table, th, td, tr{
    background-color: aquamarine;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    font-size: large;
}
table{
    margin: 1rem auto;
}
form{
    display:flex;
    margin: 1rem auto;
    padding-top: 1.5rem;
    width: 20rem;
    height: 3rem;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 10px;
}
