body {
  background-image: url("sfondo-index.jpg!d");
  background-repeat: repeat-y;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 300px;
  background-color: #b3b3b3;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  border: 2px solid black;
  text-decoration: none;
}
li a:hover {
  background-color: #00cc00;
  color: white;
}
