:root{
    --palette-1: #37005F;
    --palette-2: #50045B;
    --palette-3: #820C51;
    --palette-4: #CD1843;
    --palette-5: #E43E60;
    --palette-6: #FFAC00;
}
body {
  background-color: var(--palette-2);
  margin: 0;
}
/*inizio upper*/
.upper{
    background-color: var(--palette-1);
    height: 30vh;
    width: 100%;
    position: relative;
    float: left;
}
.logo{
    background-color: var(--palette-6);
    border: 1px solid var(--palette-3);
    height: fit-content;
    width: fit-content;
    position: relative;
    top: 5vh;
    left: 5vh;
    float: left;
}
div.logo img{
    height: 20vh;
    width: auto;
}
/*inizio navbar*/
ul.navbar {
    float: left;
    position: relative;
    top: 7.5vh;
    margin-left: 3em;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: var(--palette-2);
  }
  
  li {
    float: left;
    width: fit-content;
    height: fit-content;
  }
  
  li a {
    font-size: xx-large;
    display: block;
    color: var(--palette-6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: var(--palette-3);
  }
  .active {
    background-color: var(--palette-3);
  }
/*fine navbar*/
/*fine upper*/
.button{
    border-radius: 8px;
    text-align: center;
    font-size: 150%;
    background-color: var(--palette-1);
    margin-top: 5%;
    width: 39%;
    heigth: 30vh;
    border-width: 0;
    /* margin: calc(100%-); */
}
#left{
    margin-left: 10%;
    marign-rigth: 2%;
}
#rigth{
    margin-left: 2%;
    marign-rigth: 10%;
}
.button a{
    text-decoration: none;
    color: var(--palette-6);
}

