.intestazione {
    background-color: rgb(168, 76, 202);
    color: #FFFFFF;
}

table {
    border: 1px solid black;
    width: 500px;
    table-layout: fixed;
    border-spacing: 0px;
    background-color: #FFFF;
}

table th, table td {
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucid';
    text-align: center;
}

.tabella {
    position: relative;
}

