table {
    border: 1px solid black;
    table-layout: fixed;
    border-spacing: 0px;
    background-color: #FFF;
}
table th, table td, table tr{
    width: 80px;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucid';
    text-align: center;
}

.tabella {
    margin: 10em auto;
}

