body{
    background-image: url("backgroundscuola.jpg");
}
table {
    border: 1px solid black;
    table-layout: fixed;
    border-spacing: 0px;
    background-color: #FFF;
    font-size: large;
    margin: 25vh auto;
}
table th, table td, table tr{
    background-color: rgb(233, 233, 174);
    width: 90px;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucid';
    text-align: center;
}
table th{
    background-color: rgb(197, 179, 85);
}
#comeback{
            float: left;
            box-sizing: border-box;
            height: fit-content;
            width: fit-content;
            padding: 1vh;
            margin: 0 0 0 5vh;
            background-color: rgb(0, 60, 255);
            border-radius: 4px;
            color:black;
        }
        #comeback a{
            color: black;
            text-decoration: none;
        }
        #comeback a:link {
            color: black;
        } 
        #comeback  a:visited {
            color: black;
          }
        #comeback  a:hover {
            color: black;
        }
        #comeback a:active {
            color: black;
        }
